{% extends "template.html" %}
{% block content %}
{% load static %}
<div id="shop" class="shop row grid-container gutter-30" data-layout="fitRows">
    {% for product in products %}
    <div class="product col-lg-3 col-md-4 col-sm-6 col-12 pf-dress">
        <div class="grid-inner">
            <div class="product-image">
                <a href="#">
                <img src="{% static  product.photo.name  %}" alt="My image">

                </a>

            </div>
            <div class="product-desc">
                <div class="product-title">
                    <h3><a href={% url 'product' product.id %}>{{ product.name }}</a></h3>
                </div>
                <div class="product-price"><ins>${{ product.price }}</ins></div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}