{% extends "template.html" %}
{% block content %}
<div class="tabs mx-auto mb-0 clearfix" id="tab-login-register" style="max-width: 500px;">

    <ul class="tab-nav tab-nav2 center clearfix">
        <li class="inline-block"><a href="#tab-login">Login</a></li>
        <li class="inline-block"><a href="#tab-register">Register</a></li>
    </ul>

    <div class="tab-container">

        <div class="tab-content" id="tab-login">
            <div class="card mb-0">
                <div class="card-body" style="padding: 40px;">
                    <form id="login-form" name="login-form" class="mb-0" action="#" method="post">

                        <h3>Login to your Account</h3>

                        <div class="row">
                            <div class="col-12 form-group">
                                <label for="username">Username:</label>
                                <input type="text" id="username" name="username" value="" class="form-control" />
                            </div>

                            <div class="col-12 form-group">
                                <label for="password">Password:</label>
                                <input type="password" id="password" name="password" value="" class="form-control" />
                            </div>

                            <div class="col-12 form-group">
                                <button class="button button-3d button-black m-0" id="submit" name="submit" value="login">Login</button>
                                <a href="#" class="float-end">Forgot Password?</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

