{% extends "template_login.html" %}
{% block content %}
<div class="tabs mx-auto mb-0 clearfix" id="tab-login-register" style="max-width: 500px;">

    <ul class="tab-nav tab-nav2 center clearfix">
        <li class="inline-block"><a href="#tab-login">Login</a></li>
    </ul>

    <div class="tab-container">

        <div class="tab-content" id="tab-login">
            <div class="card mb-0">
                <div class="card-body" style="padding: 40px;">
                    <form id="login-form" enctype="multipart/form-data" name="login-form" class="mb-0"
                        action="submit_login" method="post">
                        {% csrf_token %}
                        <h3>Login to your Account</h3>

                        <div class="row">
                            <div class="col-12 form-group">
                                <label for="username">Username:</label>
                                <input id="id_username" maxlength="40" minlength="5" type="text" id="username"
                                    name="username" value="{{ form.username.value }}" class="form-control" required />
                            </div>

                            <div class="col-12 form-group">
                                <label for="password">Password:</label>
                                <input id="id_username" maxlength="20" minlength="5" type="password" id="password"
                                    name="password" value="" class="form-control" required />
                            </div>

                            <div class="col-12 form-group">
                                <button class="button button-3d button-black m-0" id="submit" name="submit"
                                    value="login">Login</button>
                            </div>

                            {% if errorMessage %}
                            <div class="alert alert-danger" role="alert">
                                {{ errorMessage }}
                            </div>
                            {% endif %}
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}